{% extends "base.html.twig" %}
{% block body %}
<title>Регистрация пользователя</title>
    <script>
    function checkPasswordStrength() {
        var number = /([0-9])/;
        var alphabets = /([a-zA-Z])/;
        var special_characters = /([~,!,@,#,$,%,^,&,*,-,_,+,=,?,>,<])/;
        if($('#password').val().length<6) {
            $('#password-strength-status').removeClass();
            $('#password-strength-status').addClass('weak-password');
            $('#password-strength-status').html("Слабый (должно быть не менее 6 знаков.)");
        } 
        else {  	
            if($('#password').val().match(number) && $('#password').val().match(alphabets) && $('#password').val().match(special_characters)) {    
                $('#password-strength-status').removeClass();
                $('#password-strength-status').addClass('strong-password');
                $('#password-strength-status').html("Сильный");
            } else {
                $('#password-strength-status').removeClass();
                $('#password-strength-status').addClass('medium-password');
                $('#password-strength-status').html("Средний (должно включать буквы, цифры и специальные знаки.)");
            }
        }
    }
    </script>
    <div class="registration_wrap">
    <div class="registaration_block_title">
        <h3>Новый пароль</h3>
    </div>
    <div class="registaration_block">
        {% for msg in messages.success %}
            <div class="alert alert-success" role="alert">
                {{ msg }}
            </div>
        {% endfor %}
        {% for msg in messages.error %}
            <div class="alert alert-danger" role="alert">
                {{ msg }}
            </div>
        {% endfor %}

        <form method="post" action="/{{version}}/register/new-password" 
        oninput='password2.setCustomValidity(password.value != password2.value ? "Пароль не совпадает." : ""); 
            password.setCustomValidity(password.value.length <= 5 ? "Пароль должен содержать не менее 6 символов." : "");'
        >
            <div class="mb-3">
                <label for="password" class="form-label" required>Пароль</label>
                <input type="password" class="form-control" id="password" name="password" onkeyup="checkPasswordStrength()">
            </div>
            <div id="password-strength-status"></div>
            <div class="mb-3">
                <label for="password2" class="form-label">Повторите пароль</label>
                <input type="password" class="form-control" id="password2" name="password2" required>
            </div>
            <button type="submit" class="btn btn-primary submit">Отправить</button>
        </form>
    </div>
    </div>
{% endblock %}