{% extends "base.html.twig" %}
{% block body %}
<title>Авторизация пользователя</title>
<script>
  function emailValidate(evt){
      var value = evt.key
      if (value === '@' || value === '?' || value === '!')
        return false;

      return true;
  }
</script>

<div class="registration_wrap">
  <div class="registaration_block_title">
    <h3>Авторизация пользователя</h3>
  </div>
  <div class="registaration_block">
      {% for msg in messages.success %}
        <div class="alert alert-success" role="alert">
          {{ msg }}
        </div>
      {% endfor %}
      {% for msg in messages.error %}
        <div class="alert alert-danger" role="alert">
          {{ msg }}
        </div>
      {% endfor %}

      <form method="post" action="in">
        <div class="mb-3">
          <label for="email" class="form-label">Адрес электронной почты</label>
          <div class="input-group">
            <input type="text" class="form-control" id="email" aria-describedby="email" name="email" onkeypress="return emailValidate(event)" required>
            <span class="input-group-text" id="email">@mediana.kz</span>
          </div>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Пароль</label>
          <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <button type="submit" class="btn btn-primary">Войти</button>
        Еще не зарегистрированы? <a href="/{{version}}/register/">Зарегистрироваться</a>
        <p>Забыли пароль? <a href="/{{version}}/register/reset-password-by-email">Восстановить пароль</a></p>
      </form>
  </div>
</div>
<script>
  document.getElementById('email').addEventListener("keyup", function (ev) {

    var value = this.value

    if(value.indexOf('@') > -1){
      var Text = value
        .replace(/\@.*/, '')
        .trim()
        .toLowerCase()
        .replace(/\s+/g, '-');
      this.value = Text
    }
  }, false);

</script>

{% endblock %}